%p.lead
  Install on your Windows PC

= link_to 'Download windows client', windows_client_downloads_path, class: 'btn btn-lg btn-info'
%p
  This installer is unique to you, so do not share it. It will automatically link your Windows PC with your account.

= link_to 'Continue', next_wizard_path, class: 'btn btn-primary'
%p
  Click continue when installation finishes.
