%p.lead
  Install on your tablet

%p
  We’ve sent you an e-mail. Follow instructions in the email to install on your devices.
  = link_to 'Resend email', url_for(params)

= link_to 'Continue', next_wizard_path, class: 'btn btn-primary'
%p
  Click continue when installation finishes.
