%span
  Logging in to Omnipaste

= javascript_include_tag :OmnipasteAPI
:javascript
  var apiDataStore = require('api/DataStore');
  apiDataStore.userAccessToken = '#{@user_access_token}';
  var OmnipasteAPI = require('OmnipasteAPI');
  new OmnipasteAPI().initialize({apiClientUrl: '#{@api_client.url}', omnipasteUrl: '#{WebOmni::Application.config.web_omni_url}'});