%h1 Thank you! This are the steps to finish installation

%p
  Your download should start automatically. If it doesn't, please click the following link
  = link_to 'Windows client', "#{winomni_url}", id: 'windows_download_link', target: '_blank'
  = link_to '', '#', id: 'hidden-download', target: '_blank'