.span4
  = image_tag 'installations/shared/step2.png'
  %h2
    %p
      %strong 2.
      Click install in the new window and wait for it to finish.

.span3
  = image_tag 'installations/shared/step2.png'
  %h2
    %p
      %strong3 3.
      Paste this:
      %strong= @token
      to finish authentication.
