%h1 Installation

.span4
  %h2 Step1
  %p Click the icon on the bottom bar.
  = image_tag 'installations/chrome/step1.png'
.span4
  %h2 Step2
  %p Click install in the new window and wait for it to finish.
  = image_tag 'installations/chrome/step2.png'
.span3
  %h2 Step3
  %p Copy:
  %h2= @token
  %p into
  = image_tag 'installations/chrome/step3.png'
