= render partial: 'header'

.span4
  = image_tag 'installations/firefox/step1.png'
  %h2
    %p
      %strong 1.
      Click the icon on the download bar, located by default in the top right corner.

= render partial: 'shared'