= render partial: 'header'

.span12
  = image_tag 'installations/shared/step2.png'
  %h2
    %p
      %strong 1.
      Click install in the new window and wait for it to finish. You will be logged automatically and you can start using the application right away.
