%li
  = link_to 'About', '#', class: 'scroller', 'data-section' => '#about'
%li
  = link_to 'The Team', '#', class: 'scroller', 'data-section' => '#team'
%li
  = link_to 'Contact us', '#', class: 'scroller', 'data-section' => '#contact'
