%li.header__nav__item.header__nav__item--separator
  %a.js-sign-out{"data-id" => "sign-out", :href => "#sign-out"}
    %img.header__nav__picture{:alt => 'placeholder-user', :height => '24', :src => image_path('placeholders/placeholder-user.png'), :width => '24'}
    Hi #{@user.name}