%li.header__nav__item
  %a.js-toggle-dropdown{"data-id" => "sign-up", :href => "#sign-up"} Get Omnipaste
%li.header__nav__item
  %a.js-goto-section{"data-id" => "faq", :href => "#faq"} FAQ
%li.header__nav__item
  %a.js-goto-section{"data-id" => "contact", :href => "#contact"} Contact
