%h1
  Transfer files between your devices running Android&trade; and/or Windows&trade;
%p
  We want to allow you to transfer files between devices, as simple and easy as Copy & Paste.
  %br
  = render_try_free
%p
  If you want us to develop it faster, please give us your feedback about situations and how often do you need it.
.panel.panel-default
  .panel-heading
    File Transfer
  .panel-body
    %iframe{src: 'https://docs.google.com/forms/d/1zYsMR02wminv1OfL1_nG_rnRcAxBUtvRBp5r6wYMWzM/viewform?embedded=true', width: '760px', height: '310px', frameborder: '0', marginheight: '0', marginwidth:'0'}
      Loading...
