%h1
  Store your clippings for a long time
%p
  With this feature you can store your clippings for an indefinite amount of time.
= render_try_free
%p
  If you want us to develop it faster, please give us your feedback about situations and how often do you need it.
.panel.panel-default
  .panel-heading
    Clippings History
  .panel-body
    %iframe{frameborder: "0", height: "310px", marginheight: "0", marginwidth: "0", src: "https://docs.google.com/forms/d/1OuT0NgNeDzxaUrGd0WznQPSvjlRixsEAHjHHvMkCdxI/viewform?embedded=true", width: "760"} Loading...