%p
  We offer an overview of your clppings history so that you can easily
  %strong
    browse
  and
  %strong
    search
  through them based on:
  %ul.icons-ul.unstyled-ul
    %li
      %i.icon-li.icon-2x.icon-search
      %p
        content
    %li
      %i.icon-li.icon-2x.icon-calendar
      %p
        date
    %li
      %i.icon-li.icon-2x.icon-map-marker
      %p
        location