%p
  We offer a history view so that you can easily
  %strong
    browse
  and
  %strong
    search
  through your clippings based on:
  %ul
    %li
      content
    %li
      date
    %li
      location