%p
  You can move files between devices
  %br
  as easy as
  %strong
    Copy
  &
  %strong
    Paste
%p
  Some of the benefits for this are:
  %ul.icons-ul.unstyled-ul
    %li
      %i.icon-li.icon-2x.icon-file
      %p
        Support for one or multiple files
    %li
      %i.icon-li.icon-2x.icon-folder-close
      %p
        Support for entire folders
    %li
      %i.icon-li.icon-2x.icon-cloud
      %p
        Say goodbye to data cables
    %li
      %i.icon-li.icon-2x.icon-time
      %p
        Transfer files when and where you need it