.page-header
  %h1
    Your Android&trade; Smartphone can be smarter with smart actions

%p
  You just copy a phone number on your desktop running Windows™? Your Android phone will offer you to call. Just tap the notification.

= render_try_free

%p
  If you want us to develop it faster, please give us your feedback about situations and how often do you need it.
.panel.panel-default
  .panel-heading
    Smart Actions
  .panel-body
    %iframe{frameborder: "0", height: "310px", marginheight: "0", marginwidth: "0", src: "https://docs.google.com/forms/d/1cS-VGYqz6c3REr50B-2a2rcsaTDhkXY7iJ6lpzzkHic/viewform?embedded=true", width: "760"} Loading...