%p
  Your clippings will have extra information attached so that when you:
  %ul.icons-ul.unstyled-ul
    %li
      %i.icon-li.icon-2x.icon-phone
      %p
        copy a phone number from your computer, your phone will offer to call that number
    %li
      %i.icon-li.icon-2x.icon-map-marker
      %p
        copy an address from your computer, your phone will offer to give you directions to that place
    %li
      %i.icon-li.icon-2x.icon-link
      %p
        copy a link from your phone, your computer will open a new tab to access that link