%p
  Unfortunately this feature is still under construction and our team is working hard for your best experience.
  %br
  We really appreciate your interest in this premium feature. While we are developing, you can try our basic and free version
= link_to free_transfer_between_devices_path, class: 'btn btn-sm btn-omni' do
  .icon-google-plus
  Sign up now