= link_to '#', class: 'btn btn-sm disabled btn-omni' do
  %i.icon-2x.icon-apple
  Download Mac client
%p
  %small
    The freaks are still crafting on this one, but have no fear it will be ready in a short while.
