= link_to android_url, class: 'btn btn-sm btn-omni', id: 'android_download_link', :'data-user' => current_user.email do
  %i.icon-2x.icon-android
  Download Android client
%p.left
  %small
    = link_to 'Installation instructions', 'http://www.talkandroid.com/guides/beginner/install-apk-files-on-android/', target: '_blank'
