= link_to '#', class: 'btn btn-large btn-success disabled btn-purple' do
  = image_tag('clients/mac.jpg')
  Download Mac client
%p
  %small
    The freaks are still crafting on this one, but have no fear it will be ready in a short while.
