= link_to windows_downloads_url, class: 'btn btn-large btn-omni', id: 'windows_download_redirect_link', :'data-redirect' => installation_url, target: '_blank', :'data-user' => current_user.email do
  %i.icon-2x.icon-windows
  Download Windows client
%p
  %small
    One click to install the windows client customized for you.
