%p
  .download-windows
    = link_to 'Download windows client', windows_client_downloads_path, class: 'btn btn-lg btn-info'

%p
  .download-android
    = link_to 'Download Android', 'https://play.google.com/apps/testing/com.omnipaste.droidomni', target: '_blank', class: 'btn btn-lg btn-info'
