%ul#device-list
  %li.device-laptop
    %input#device-laptop{checked: 'checked', name: 'laptop', type: 'checkbox'}/
    %label.inner{for: 'device-laptop'}
      %span.device-graphic
      %strong Laptop
  %li.device-phone
    %input#device-phone{name: 'phone', type: 'checkbox'}/
    %label.inner{for: 'device-phone'}
      %span.device-graphic
      %strong Phone
  %li.device-tablet
    %input#device-tablet{name: 'tablet', type: 'checkbox'}/
    %label.inner{for: 'device-tablet'}
      %span.device-graphic
      %strong Tablet
  %li.device-tv
    %input#device-tv{name: 'tv', type: 'checkbox'}/
    %label.inner{for: 'device-tv'}
      %span.device-graphic
      %strong TV
