.svg() {
  background-repeat: no-repeat;
  background-image: image-url("sprite.svg");
}


.svg-background-download {
  background-position: 0 0;
  .svg();
}

.svg-background-questions {
  background-position: 0 -585px;
  .svg();
}

.svg-button-close {
  background-position: 0 -1190px;
  .svg();
}

.svg-button-play {
  background-position: 0 -1222px;
  .svg();
}

.svg-feature-call-copy-address {
  background-position: 0 -1272px;
  .svg();
}

.svg-feature-call-copy-phone {
  background-position: 0 -1357px;
  .svg();
}

.svg-feature-call-hand {
  background-position: 0 -1437px;
  .svg();
}

.svg-feature-call-main {
  background-position: 0 -1567px;
  .svg();
}

.svg-feature-copy-paste-arrow {
  background-position: 0 -1847px;
  .svg();
}

.svg-feature-copy-paste-copy {
  background-position: 0 -1897px;
  .svg();
}

.svg-feature-copy-paste-main {
  background-position: 0 -1997px;
  .svg();
}

.svg-feature-copy-paste-paste {
  background-position: 0 -2322px;
  .svg();
}

.svg-feature-copy-paste-text {
  background-position: 0 -2457px;
  .svg();
}

.svg-feature-notifications-incoming {
  background-position: 0 -2517px;
  .svg();
}

.svg-feature-notifications-main {
  background-position: 0 -2567px;
  .svg();
}

.svg-feature-notifications-notify {
  background-position: 0 -2867px;
  .svg();
}

.svg-icon-arrowhead-down {
  background-position: 0 -3007px;
  .svg();
}

.svg-icon-double-arrowhead-down {
  background-position: 0 -3019px;
  .svg();
}

.svg-icon-double-arrowhead-left {
  background-position: 0 -3034px;
  .svg();
}

.svg-icon-facebook {
  background-position: 0 -3042px;
  .svg();
}

.svg-icon-googleplus {
  background-position: 0 -3068px;
  .svg();
}

.svg-icon-linkedin {
  background-position: 0 -3094px;
  .svg();
}

.svg-icon-twitter {
  background-position: 0 -3120px;
  .svg();
}

.svg-logo {
  background-position: 0 -3146px;
  .svg();
}

.svg-step-action {
  background-position: 0 -3186px;
  .svg();
}

.svg-step-download {
  background-position: 0 -3276px;
  .svg();
}

.svg-step-install {
  background-position: 0 -3366px;
  .svg();
}
