.svg() {
  background-repeat: no-repeat;
  background-image: image-url("sprite.svg");
}

.svg-background-download {
  background-position: 0 0;
  .svg();
}

.svg-background-omni {
  background-position: 0 -585px;
  .svg();
}

.svg-background-questions {
  background-position: 0 -1170px;
  .svg();
}

.svg-button-close {
  background-position: 0 -1775px;
  .svg();
}

.svg-button-play {
  background-position: 0 -1807px;
  .svg();
}

.svg-feature-call-copy-address {
  background-position: 0 -1857px;
  .svg();
}

.svg-feature-call-copy-phone {
  background-position: 0 -1942px;
  .svg();
}

.svg-feature-call-hand {
  background-position: 0 -2022px;
  .svg();
}

.svg-feature-call-main {
  background-position: 0 -2152px;
  .svg();
}

.svg-feature-copy-paste-arrow {
  background-position: 0 -2432px;
  .svg();
}

.svg-feature-copy-paste-copy {
  background-position: 0 -2482px;
  .svg();
}

.svg-feature-copy-paste-main {
  background-position: 0 -2582px;
  .svg();
}

.svg-feature-copy-paste-paste {
  background-position: 0 -2907px;
  .svg();
}

.svg-feature-copy-paste-text {
  background-position: 0 -3042px;
  .svg();
}

.svg-feature-notifications-incoming {
  background-position: 0 -3102px;
  .svg();
}

.svg-feature-notifications-main {
  background-position: 0 -3152px;
  .svg();
}

.svg-feature-notifications-notify {
  background-position: 0 -3452px;
  .svg();
}

.svg-feature-one-arrow {
  background-position: 0 -3592px;
  .svg();
}

.svg-feature-one-bubble-copy {
  background-position: 0 -3642px;
  .svg();
}

.svg-feature-one-bubble-paste {
  background-position: 0 -3742px;
  .svg();
}

.svg-feature-one-main {
  background-position: 0 -3877px;
  .svg();
}

.svg-feature-one-paste-text {
  background-position: 0 -4202px;
  .svg();
}

.svg-feature-three-bubble-notification {
  background-position: 0 -4262px;
  .svg();
}

.svg-feature-three-main {
  background-position: 0 -4402px;
  .svg();
}

.svg-feature-three-notification {
  background-position: 0 -4702px;
  .svg();
}

.svg-feature-two-bubble-copy-address {
  background-position: 0 -4752px;
  .svg();
}

.svg-feature-two-bubble-copy-phone {
  background-position: 0 -4837px;
  .svg();
}

.svg-feature-two-main {
  background-position: 0 -4917px;
  .svg();
}

.svg-feature-two-notification {
  background-position: 0 -5197px;
  .svg();
}

.svg-icon-arrowhead-down {
  background-position: 0 -5327px;
  .svg();
}

.svg-icon-double-arrowhead-down {
  background-position: 0 -5339px;
  .svg();
}

.svg-icon-double-arrowhead-left {
  background-position: 0 -5354px;
  .svg();
}

.svg-icon-facebook {
  background-position: 0 -5362px;
  .svg();
}

.svg-icon-googleplus {
  background-position: 0 -5388px;
  .svg();
}

.svg-icon-hamburger {
  background-position: 0 -5414px;
  .svg();
}

.svg-icon-linkedin {
  background-position: 0 -5442px;
  .svg();
}

.svg-icon-twitter {
  background-position: 0 -5468px;
  .svg();
}

.svg-logo {
  background-position: 0 -5494px;
  .svg();
}

.svg-step-action {
  background-position: 0 -5534px;
  .svg();
}

.svg-step-download {
  background-position: 0 -5624px;
  .svg();
}

.svg-step-install {
  background-position: 0 -5714px;
  .svg();
}
