// !Mustache Template
// ==|=========================================================================

.svg-common() {
  background-repeat: no-repeat;
  background-image: image-url('sprite.svg');
  background-size: 655 * @rem 580 * @rem;
}

.svg-button-close {
  .svg-common();
  background-position: -615 * @rem -330 * @rem;
}

.svg-button-close-dims {
  width: 35 * @rem;
  height: 35 * @rem;
}

.svg-button-play {
  .svg-common();
  background-position: -540 * @rem -420 * @rem;
}

.svg-button-play-dims {
  width: 50 * @rem;
  height: 50 * @rem;
}

.svg-feature-circle {
  .svg-common();
  background-position: -635 * @rem -130 * @rem;
}

.svg-feature-circle-dims {
  width: 10 * @rem;
  height: 10 * @rem;
}

.svg-feature-pointer {
  .svg-common();
  background-position: -286 * @rem -490 * @rem;
}

.svg-feature-pointer-dims {
  width: 25 * @rem;
  height: 25 * @rem;
}

.svg-feature-pointer-rotated {
  .svg-common();
  background-position: -615 * @rem -395 * @rem;
}

.svg-feature-pointer-rotated-dims {
  width: 25 * @rem;
  height: 25 * @rem;
}

.svg-hero-call-transparent {
  .svg-common();
  background-position: -540 * @rem -170 * @rem;
}

.svg-hero-call-transparent-dims {
  width: 95 * @rem;
  height: 40 * @rem;
}

.svg-hero-call-white {
  .svg-common();
  background-position: -540 * @rem -210 * @rem;
}

.svg-hero-call-white-dims {
  width: 95 * @rem;
  height: 40 * @rem;
}

.svg-hero-clipping-transparent {
  .svg-common();
  background-position: -540 * @rem -250 * @rem;
}

.svg-hero-clipping-transparent-dims {
  width: 95 * @rem;
  height: 40 * @rem;
}

.svg-hero-clipping-white {
  .svg-common();
  background-position: -540 * @rem -290 * @rem;
}

.svg-hero-clipping-white-dims {
  width: 95 * @rem;
  height: 40 * @rem;
}

.svg-hero-connect {
  .svg-common();
  background-position: -90 * @rem -490 * @rem;
}

.svg-hero-connect-dims {
  width: 50 * @rem;
  height: 75 * @rem;
}

.svg-hero-main-empty {
  .svg-common();
  background-position: 0 * @rem -245 * @rem;
}

.svg-hero-main-empty-dims {
  width: 540 * @rem;
  height: 245 * @rem;
}

.svg-hero-main-full {
  .svg-common();
  background-position: 0 * @rem 0 * @rem;
}

.svg-hero-main-full-dims {
  width: 540 * @rem;
  height: 245 * @rem;
}

.svg-hero-sms-transparent {
  .svg-common();
  background-position: -540 * @rem -130 * @rem;
}

.svg-hero-sms-transparent-dims {
  width: 95 * @rem;
  height: 40 * @rem;
}

.svg-hero-sms-white {
  .svg-common();
  background-position: -540 * @rem -90 * @rem;
}

.svg-hero-sms-white-dims {
  width: 95 * @rem;
  height: 40 * @rem;
}

.svg-icon-arrowhead-down {
  .svg-common();
  background-position: -635 * @rem -120 * @rem;
}

.svg-icon-arrowhead-down-dims {
  width: 12 * @rem;
  height: 10 * @rem;
}

.svg-icon-double-arrowhead-down {
  .svg-common();
  background-position: -635 * @rem -105 * @rem;
}

.svg-icon-double-arrowhead-down-dims {
  width: 12 * @rem;
  height: 15 * @rem;
}

.svg-icon-double-arrowhead-left {
  .svg-common();
  background-position: -635 * @rem -90 * @rem;
}

.svg-icon-double-arrowhead-left-dims {
  width: 15 * @rem;
  height: 15 * @rem;
}

.svg-icon-facebook {
  .svg-common();
  background-position: -140 * @rem -490 * @rem;
}

.svg-icon-facebook-dims {
  width: 30 * @rem;
  height: 30 * @rem;
}

.svg-icon-googleplus {
  .svg-common();
  background-position: -170 * @rem -490 * @rem;
}

.svg-icon-googleplus-dims {
  width: 30 * @rem;
  height: 30 * @rem;
}

.svg-icon-hamburger {
  .svg-common();
  background-position: -230 * @rem -490 * @rem;
}

.svg-icon-hamburger-dims {
  width: 28 * @rem;
  height: 28 * @rem;
}

.svg-icon-hamburger-close {
  .svg-common();
  background-position: -258 * @rem -490 * @rem;
}

.svg-icon-hamburger-close-dims {
  width: 28 * @rem;
  height: 28 * @rem;
}

.svg-icon-linkedin {
  .svg-common();
  background-position: -615 * @rem -365 * @rem;
}

.svg-icon-linkedin-dims {
  width: 30 * @rem;
  height: 30 * @rem;
}

.svg-icon-play {
  .svg-common();
  background-position: -590 * @rem -420 * @rem;
}

.svg-icon-play-dims {
  width: 45 * @rem;
  height: 45 * @rem;
}

.svg-icon-twitter {
  .svg-common();
  background-position: -200 * @rem -490 * @rem;
}

.svg-icon-twitter-dims {
  width: 30 * @rem;
  height: 30 * @rem;
}

.svg-step-action {
  .svg-common();
  background-position: -540 * @rem 0 * @rem;
}

.svg-step-action-dims {
  width: 115 * @rem;
  height: 90 * @rem;
}

.svg-step-download {
  .svg-common();
  background-position: 0 * @rem -490 * @rem;
}

.svg-step-download-dims {
  width: 90 * @rem;
  height: 90 * @rem;
}

.svg-step-install {
  .svg-common();
  background-position: -540 * @rem -330 * @rem;
}

.svg-step-install-dims {
  width: 75 * @rem;
  height: 90 * @rem;
}
