// 
// Name: Less Variables
// Author: Zeno Popovici - zeno@graffino.com (http://www.graffino.com)
// 


// !Typography
// ==|=========================================================================

// Font Families
@sans-font-family:		"MuseoSansRounded", Helvetica, Arial, sans-serif;
@serif-font-family:		Times, serif;
@mono-font-family:		Menlo, Monaco, Consolas, "Courier New", monospace;
@condensed-font-family:		Arial, sans-serif;

@default-font-family:	@sans-font-family;
@second-font-family:	@condensed-font-family;
@third-font-family:		@serif-font-family;

// Base
@default-font-size:		16 * @rem;
@default-line-height:	25 * @rem;
@default-font-weight:	300;
@default-color:			@color-grey;

//H1
@h1-font-size:		44 * @rem;
@h1-line-height:	44 * @rem;
@h1-font-weight:	700;
@h1-color:			@color-bright;

//H2
@h2-font-size:		18 * @rem;
@h2-line-height:	25 * @rem;
@h2-font-weight:	300;
@h2-color:			@color-bright;

//H3
@h3-font-size:		18 * @rem;
@h3-line-height:	25 * @rem;
@h3-font-weight:	700;
@h3-color:			@color-dark-grey;

//Hero
@hero-h1-font-size:		55 * @rem;
@hero-h1-line-height:	55 * @rem;
@hero-h1-font-weight:	500;
@hero-h1-color:			@color-bright;

@hero-p-font-size:		55 * @rem;
@hero-p-line-height:	55 * @rem;
@hero-p-font-weight:	500;
@hero-p-color:			@color-bright;

// !Colors
// ==|=========================================================================

// Colors
@color-grey:			#ababa9; // Grey
@color-dark-grey:		#6d6d6b; // Dark Grey
@color-light-grey:		#b4b4b4; // Light Grey (footer)
@color-lighter-grey: 	#e8e8e7; // Lighter Grey (Buttons)
@color-bright-grey:		#f5f4f1; // Bright Grey (background)

@color-green:			#3fc6e4; // Color Green
@color-green-start:		#38b9db; // Color Green Start
@color-green-end:		#55edff; // Color Green End
@color-light-green:		#baf2ff; // Light Green

@color-yellow:			#ffb31a; // Color Yellow


@color-blue:			#42cbe7; // Color Blue
@color-light-blue:		#3cc0e0; // Light Blue

@color-bright:			#fff;	// White
@color-dark:			#000;	// Black

@color-red:				#ff9b1a; // Red

// Select Color
@select-color:				@color-bright;
@select-background-color:	@color-green;

// Links
@link-color:					inherit;
@link-font-weight:				inherit;
@link-text-decoration:			none;

@link-hover-color:				inherit;
@link-hover-font-weight:		700;
@link-hover-text-decoration:	none;


// ! Variables for em / rem use
// ==|========================================================================= 

@base-font-size: 100%;

@base-font-size-px: 16;
@rem: (1 / @base-font-size-px) + 0rem;
@em: (1 / @base-font-size-px) + 0em;

// !Breakpoints
// ==|=========================================================================

@320w:				~"only screen and (max-width : 320px)";
@460w:				~"only screen and (max-width : 460px)";
@767w:				~"only screen and (max-width : 767px)";
@567w:				~"only screen and (max-width : 567px)";
@990w:				~"only screen and (max-width : 990px)";
@1100w:				~"only screen and (max-width : 1100px)";
@1140w:				~"only screen and (max-width : 1140px)";
@1360w:				~"only screen and (max-width : 1360px) and (min-width : 1140px)";
@1500w:				~"only screen and (max-width : 1500px) and (min-width : 1360px)";
@1600w:				~"only screen and (max-width : 1600px) and (min-width : 1500px) ";
@1800w:				~"only screen and (max-width : 1800px) and (min-width : 1600px) ";
@2600w:				~"only screen and (max-width : 2600px) and (min-width : 1800px) ";


@320h:				~"only screen and (max-height : 320px)";
@520h:				~"only screen and (max-height : 520px)";
@650h:				~"only screen and (max-height : 600px)";


@iPhone-portrait:	~"only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait)";
@iPhone-landscape:	~"only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape)";

@iPad-portrait:		~"only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)";
@iPad-landscape:	~"only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)";

@mobile:			~"only screen and (max-width: 529px)";
@tablet:			~"only screen and (min-width: 530px) and (max-width: 949px)";
@tablet-portrait:	~"only screen and (max-width: 768px)";
@desktop:			~"only screen and (min-width: 950px) and (max-width: 1128px)";
@desktop-xl:		~"only screen and (min-width: 1129px)";
