%script{:type => "text/x-handlebars-template", :id  => "animation-template"}
  = link_to 'Replay', '#', class: 'btn btn-white btn-replay'
  <div class='EDGE-88305247' name="animation-{{event.id}}-{{device1}}-{{device2}}"> </div>
  %script{:src  => asset_path('incoming-call/anim2/animation-2_edgePreload.js')}