%script{:type => 'text/x-handlebars-template', :id  => 'usecase-template'}
  .full-block.section.table.header-style-modifier
    .tableCell
      .animation{'data-anchor' => '{{device1}}-{{device2}}-{{event.id}}'}
        .row
          .col-xs-12.col-md-6.col-md-offset-3
            .anim-title
              %h2 {{event.displayName}}
            .anim-wrap
              <div class='edge-animation {{event.id}}_{{device1}}_{{device2}}' id='{{event.id}}_{{device1}}_{{device2}}'> </div>
              %a.btn.btn-white.btn-replay{'href' => '#'}
                %span.icon
              %a.btn.btn-white.btn-more{'href' => '#', 'data-toggle' => 'modal', 'data-target' => '#{{event.id}}_{{device1}}_{{device2}}_more'}
                %span.icon
              <script src='assets/animations/{{event.id}}_{{device1}}_{{device2}}/{{event.id}}_{{device1}}_{{device2}}_edgePreload.js' />
  -#<div id='{{event.id}}_{{device1}}_{{device2}}_more' class='modal fade style-more in' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
  .modal.fade.style-more.in.unnamed{'tabindex'=> '-1', 'role'=>'dialog',  'aria-labelledby'=>'myModalLabel',  'aria-hidden'=>'true'}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{'type'=>'button', 'data-dismiss'=>'modal'}
            %span{'aria-hidden'=>'true'}
              ×
            %span.sr-only
              Close
          %h4#myModalLabel.modal-title>
            Title here
        .modal-body
          %p
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
          %p
            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.y