%script{:type => 'text/x-handlebars-template', :id  => 'usecase-template'}
  .full-block.section.middle-wrap.header-style-modifier
    .middle-cell
      .animation{'data-anchor' => '{{device1}}-{{device2}}-{{event.id}}'}
        .row
          .col-xs-12.col-md-6.col-md-offset-3
            .anim-title
              %h2 {{event.displayName}}
            .anim-wrap
              <div class='edge-animation {{event.id}}_{{device1}}_{{device2}}' id='{{event.id}}_{{device1}}_{{device2}}'> </div>
              = link_to 'Replay', '#', class: 'btn btn-white btn-replay'
              <script src="asset_path('assets/animations/{{event.id}}_{{device1}}_{{device2}}/{{event.id}}_{{device1}}_{{device2}}_edgePreload.js')" />