@import "helpers";

// Buttons
// ==============================

.btn {
  font-size: (20/16) + em;
  @include font-bold;
  padding: 10px 25px;
  border: 0;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  @include transition(background .3s, color .3s);
  outline: none;
}

.btn-default, .btn[disabled] {
  background: $btn-default-bg;
  border: 0;
  color: $btn-default-color;
  outline: none;

  &:hover {
    background: $btn-default-hover;
    color: $btn-default-color;
  }
}

.btn-primary {
  background: $btn-primary-bg;
  border: 0;
  color: $btn-primary-color;
  position: relative;
  z-index: 1;
  padding-right: 45px;
  padding-left: 45px;
  @include box-shadow(0 1px 1px rgba(0, 0, 0, .1));

  &:hover {
    background: $btn-primary-hover;
    color: $btn-primary-color;
  }
}

.btn-white {
	background: #fff;
	border: 0;
	color: #5a6177;
	position: relative;
	z-index: 1;
	padding-right: 45px;
	padding-left: 45px;

	&:hover {
		background: #fff;
		color: #5a6177;
	}
}

.btn-info {
  background: $btn-info-bg;
  border: 0;
  color: $btn-info-color;

  &:hover {
    background: $btn-info-hover;
    color: $btn-info-color;
  }
}

// Btn types
// =====================================================

.see-more {
  background: rgba(0, 0, 0, .1);
  border: 0;
  outline: 0;
  padding: 11px 30px 10px;
  color: #fff;
  text-transform: uppercase;
  font-size: (14/16) + em;
  @include font-bold;
  position: relative;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  @include transition(background .3s);

  .caret {
    margin-left: 10px;
    border-top: 6px solid;
    border-right: 6px solid rgba(0, 0, 0, 0);
    border-left: 6px solid rgba(0, 0, 0, 0);
  }

  &:hover {
    background: rgba(0, 0, 0, .2);
    color: #fff;
  }
}

// Helper
// =====================================================
.btn-wrap {
  &.center {
    text-align: center;
  }
}
