= link_to android_url, class: 'btn btn-large btn-success btn-purple', id: 'android_download_link', :'data-user' => current_user.email do
  = image_tag('clients/android.jpg')
  Download Android client
%p
  %small
    = link_to 'Installation instructions', 'http://www.talkandroid.com/guides/beginner/install-apk-files-on-android/', target: '_blank'
