= link_to 'https://s3.amazonaws.com/omnipaste/android/omnipaste.apk', class: 'btn btn-large btn-success btn-purple' do
  = image_tag('clients/android.jpg')
  Download Android client
%p
  %small
    Download the file and use your and install it on your Android device via a usb cable (we will be soon on the Market an you won't have to do this)
