.well
  = link_to 'Download Windows client', '#', class: 'btn btn-large btn-success disabled'
  %p
    %small
      One click to install the windows client customized for you.
.well
  = link_to 'Download Android client', '#', class: 'btn btn-large btn-success disabled'
