%h1
  Store your clippings for a long time
%p
  With this feature you can store your clipping for an indefinite amount of time.
= render_try_free
%p
  In order to deliver to you best performance and have an excellent experience, could you provide us some feedback?
