.jumbotron
  .page-header
    %h1 Partners

  .row.thumbnails
    .col-md-4
      .thumbnail
        = link_to image_tag('partners/softlayer_logo.png'), 'http://www.softlayer.com', target: '_blank'
        .caption
          %p
            Providers us with a great a great infrastructure for all our bits and pieces.

    .col-md-4
      .thumbnail
        = link_to image_tag('partners/logo_lisbon_challenge.png'), 'http://lisbon-challenge.com', target: '_blank'
        .caption
          %p
            Our host for the last two months, great place to work and learn.
