.page-header
  %h1 Partners

.row.thumbnails
  .col-md-4
    .thumbnail
      = link_to image_tag('partners/softlayer_logo.png'), 'http://www.softlayer.com/partners/catalyst', target: '_blank'
      .caption
        %p
          Softlayer Catalyst help us with infrastructure to offer you a fast and reliable service.

  .col-md-4
    .thumbnail
      = link_to image_tag('partners/logo_lisbon_challenge.png'), 'http://lisbon-challenge.com/blog/gwp/2013/08/07/the-full-list-of-the-selected-teams-participating-in-lisbon-challenge-2013/', target: '_blank'
      .caption
        %p
          Lisbon Challenge is four months international acceleration program for startups around the world. We are proud to be part of it.
