.page-header
  %h1 Partners

.row.thumbnails
  .col-md-4.thumbnail
    = link_to image_tag('partners/softlayer_logo.png', class: 'logo'), 'http://www.softlayer.com/', target: '_blank'
    .caption
      %p
        SoftLayer, an IBM Company, operates a global cloud infrastructure platform built for Internet scale and provides Infrastructure-as-a-Service to leading-edge customers ranging from Web startups to global enterprises.
  .col-md-4.thumbnail
    = link_to image_tag('partners/logo_lisbon_challenge.png', class: 'logo'), 'http://lisbon-challenge.com/blog/gwp/2013/08/07/the-full-list-of-the-selected-teams-participating-in-lisbon-challenge-2013/', target: '_blank'
    .caption
      %p
        Lisbon Challenge is four months international acceleration program for startups around the world. We are proud to be part of it.
