%h1 Omnipaste suits everyone. Which plan suits you?
%p
  You can have the basic application with Copy & Paste functionality for free.
  %br
  Why not to try for a month our
  %strong
    premium features?
.row
  .col-xs-12.col-md-3
    .box.panel.panel-default
      .panel-heading
        .panel-title
          Goldfish (Free)
      .panel-body
        Copy & Paste
        %hr
        2 devices
      .panel-footer.text-center
        %a.btn.btn-sm.btn-default{href: free_transfer_between_devices_path}
          .icon-google-plus
          Sign up now
  .col-xs-12.col-md-3
    .box.panel.panel-default
      .panel-heading
        .panel-title
          Trained Goldfish ($0.99/Mo)
      .panel-body
        Copy & Paste
        %hr
        Unlimited devices
        %hr
        Smart actions
      .panel-footer.text-center
        = link_to 'Try for free', smart_actions_between_devices_path, class: 'btn btn-sm btn-default'
  .col-xs-12.col-md-3
    .box.panel.panel-success
      .panel-heading
        .panel-title
          Whale ($1.99/Mo)
          %span.label.label-success
            recommended
      .panel-body
        Copy & Paste
        %hr
        Unlimited devices
        %hr
        Smart Actions
        %hr
        History
      .panel-footer.text-center
        = link_to 'Try for free', android_clipboard_history_path, class: 'btn btn-sm btn-default'
  .col-xs-12.col-md-3
    .box.panel.panel-default
      .panel-heading
        .panel-title
          Shark ($2.99/Mo)
      .panel-body
        Copy & Paste
        %hr
        Unlimited devices
        %hr
        %a{data: {toggle: 'popover', trigger: 'hover', content: 'asdf', title: 'zxcv', container: 'body'}}
          Smart Actions
        %hr
        History
        %hr
        File support
      .panel-footer.text-center
        = link_to 'Try for free', android_file_transfer_path, class: 'btn btn-xs btn-default'