%h1 Copy & Paste between your devices. Simple as Ctrl+C, Ctrl+V
.row
  .col-xs-12.col-md-3
    .panel.panel-default
      .panel-heading
        .panel-title
          Goldfish
      .panel-body
        this is
        %hr
        the most
        %hr
        awesome feature
        %hr
        and we want
      .panel-footer.text-center
        = link_to 'Choose', user_omniauth_authorize_path(:google_oauth2, state: @state), class: 'btn btn-sm btn-info'
  .col-xs-12.col-md-3
    .panel.panel-default
      .panel-heading
        .panel-title
          Trained Goldfish
      .panel-body
        this is
        %hr
        the most
        %hr
        awesome feature
        %hr
        and we want
      .panel-footer.text-center
        = link_to 'Choose', sorry_path, class: 'btn btn-sm btn-info'
  .col-xs-12.col-md-3
    .panel.panel-info
      .panel-heading
        .panel-title
          Whale
      .panel-body
        this is
        %hr
        the most
        %hr
        awesome feature
        %hr
        and we want
      .panel-footer.text-center
        = link_to 'Choose', sorry_path, class: 'btn btn-sm btn-danger'
  .col-xs-12.col-md-3
    .panel.panel-default
      .panel-heading
        .panel-title
          Shark
      .panel-body
        this is
        %hr
        the most
        %hr
        awesome feature
        %hr
        and we want
      .panel-footer.text-center
        = link_to 'Choose', sorry_path, class: 'btn btn-xs btn-info'