%h1
  Your Android&trade; Smartphone can be smarter with smart actions
%p
  You just copy a phone number on your desktop running Windows™? Your Android phone will offer you to call. Just tap the notification.

= render_try_free