.page-header
  %h1 Terms and Conditions of Service

.text-left
  %p
    This web page represents our Terms of Use and Sale ("Agreement") regarding our website, Onipasteapp.com ("Website"). It was last posted on 30 October 2013. The terms, "we" and "our" as used in this Agreement refer to Omnipaste.
  %p
    The following terms and conditions govern all use of the Omnipasteapp.com website and all content, services and products available at or through the Website, including, but not limited to application tablets or smartphones running Android™, application for computers and devices running Windows™ and Omnipaste's Cloud Manager (taken together, the "Service"). The Service is owned and operated by Omnipaste. The Service is offered subject to your acceptance without modification of all of the Terms and Conditions contained herein and all other operating rules, policies (including, without limitation, Omnipaste's Privacy Policy) and procedures that may be published from time to time on this Website (omnipasteapp.com) by Omnipaste (collectively, the “Agreement”).
  %p
    Please read this Agreement carefully before accessing or using the Service. By accessing or using any part of the website, applications or Service, you agree to become bound by the Terms and Conditions of this Agreement. If you do not agree to all the Terms and Conditions of this Agreement, then you may not access the Website or use any services part of Service. If these Terms and Conditions are considered an offer by Omnipaste, acceptance is expressly limited to these Terms. The Service is available only to individuals who are at least 13 years old.
  %p
    %strong
      Your Omnipaste Account.
    If you create an Account on the Website, you are responsible for maintaining the security of your account and data, and you are fully responsible for all activities that occur under the account and any other actions taken in connection with the Service. You must immediately notify Omnipaste of any unauthorized uses of your Account or any other breaches of security. Omnipaste will not be liable for any acts or omissions by you, including any damages of any kind incurred as a result of such acts or omissions.
  %p
    In connection with your Account and your use of the Services, we may send you Service announcements, administrative messages, and other information. You may opt out of some of those communications.
  %p
    In order to access the Service you must have a valid Google account and use it in corespondence with Google's Terms of Services published at this web address: http://www.google.com/intl/en-US/policies/terms/
  %p
    %strong
      Responsibility of Website Visitors.
    Omnipaste cannot review any or all of the material, text, images, files, including computer software, transferred via the Service, and cannot therefore be responsible for that material’s content, use or effects. You are responsible for taking precautions as necessary to protect yourself and your computer systems from viruses, worms, Trojan horses, and other harmful or destructive content. Omnipaste disclaims any responsibility for any harm resulting from the use by visitors or by users of the Website or Service, or from any downloading by those users of content there posted.
  %p
    %strong
      Content Posted on Other Websites.
    We have not reviewed, and cannot review, all of the material, including computer software, made available through the websites and webpages to which Omnipasteapp.com links, and that link to Omnipasteapp.com. Omnipaste does not have any control over those non-Omnipaste websites and webpages, and is not responsible for their contents or their use. By linking to a non-Omnipaste website or webpage, Omnipaste does not represent or imply that it endorses such website or webpage. You are responsible for taking precautions as necessary to protect yourself and your computer systems from viruses, worms, Trojan horses, and other harmful or destructive content. Omnipaste disclaims any responsibility for any harm resulting from your use of non-Omnipaste websites and webpages.
  %p
    %strong
      About Software in our Service.
    The Service requires or includes downloadable software, this software may update automatically on your device once a new version or feature is available. Some part of Service may let you adjust your automatic update settings.
  %p
    Omnipaste gives you a personal, worldwide, royalty-free, non-assignable and non-exclusive license to use the software provided to you by Omnipaste as part of the Service. This license is for the sole purpose of enabling you to use and enjoy the benefit of the Service as provided by Omnipaste, in the manner permitted by these Terms and Conditions. You may not copy, modify, distribute, sell, or lease any part of our Service or included software, nor may you reverse engineer or attempt to extract the source code of that software, unless laws prohibit those restrictions or you have our written permission.
  %p
    %strong
      Advertisements.
    Omnipaste reserves the right to display advertisements on your Account or on your smartphone or tablet applications, part of Service, unless you have purchased an Ad-free Services account.
  %p
    %strong
      Intellectual Property.
    This Agreement does not transfer from Omnipaste to you any Omnipaste or third party intellectual property, and all right, title and interest in and to such property will remain (as between the parties) solely with Omnipaste. Omnipaste, omnipasteapp.com, the Omnipaste logo, and all other trademarks, service marks, graphics and logos used in connection with Omnipasteapp.com, or the Website are trademarks or registered trademarks of Omnipaste. Other trademarks, service marks, graphics and logos used in connection with the Website may be the trademarks of other third parties. Your use of the Website grants you no right or license to reproduce or otherwise use any Omnipaste or third-party trademarks.
  %p
    %strong
      Changes.
    Omnipaste reserves the right, at its sole discretion, to modify or replace any part of this Agreement. It is your responsibility to check this Agreement periodically for changes. Your continued use of or access to the Website or Service following the posting of any changes to this Agreement constitutes acceptance of those changes. Omnipaste may also, in the future, offer new services and/or features through the Service (including, the release of new tools and resources). Such new features and/or services shall be subject to the Terms and Conditions of this Agreement.
  %p
    %strong
      Termination.
    We are constantly changing and improving our Service. We may add or remove features or functionalities and we may suspend or even stop the Service.
  %p
    Omnipaste may terminate your access to all or any part of the Service at any time, with or without cause, with or without notice, effective immediately. If you wish to terminate this Agreement or your Omnipasteapp.com account (if you have one), you may simply discontinue using the Service. Omnipaste may also stop providing Service to you, or add or create new limits to our Service at any time.
  %p
    All provisions of this Agreement which by their nature should survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.
  %p
    %strong
      Disclaimer of Warranties.
    %br
    THE SERVICE IS PROVIDED “AS IS”. OMNIPASTE AND ITS SUPPLIERS AND LICENSORS HEREBY DISCLAIM ALL WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMITATION, THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. NEITHER OMNIPASTE NOR ITS SUPPLIERS AND LICENSORS, MAKES ANY WARRANTY THAT THE SERVICE WILL BE ERROR FREE OR THAT ACCESS THERETO WILL BE CONTINUOUS OR UNINTERRUPTED. YOU UNDERSTAND THAT YOU DOWNLOAD FROM, OR OTHERWISE OBTAIN CONTENT OR SERVICES THROUGH, THE SERVICE AT YOUR OWN DISCRETION AND RISK.
  %p
    %strong
      Limitation of Liability.
    %br
    IN NO EVENT WILL OMNIPASTE, OR ITS SUPPLIERS OR LICENSORS, BE LIABLE WITH RESPECT TO ANY SUBJECT MATTER OF THIS AGREEMENT UNDER ANY CONTRACT, NEGLIGENCE, STRICT LIABILITY OR OTHER LEGAL OR EQUITABLE THEORY FOR: (I) ANY SPECIAL, INCIDENTAL OR CONSEQUENTIAL DAMAGES; (II) THE COST OF PROCUREMENT FOR SUBSTITUTE PRODUCTS OR SERVICES; (III) FOR INTERRUPTION OF USE OR LOSS OR CORRUPTION OF DATA; OR (IV) FOR ANY AMOUNTS THAT EXCEED THE FEES PAID BY YOU TO OMNIPASTE UNDER THIS AGREEMENT DURING THE TWELVE (12) MONTH PERIOD PRIOR TO THE CAUSE OF ACTION. OMNIPASTE SHALL HAVE NO LIABILITY FOR ANY FAILURE OR DELAY DUE TO MATTERS BEYOND THEIR REASONABLE CONTROL. THE FOREGOING SHALL NOT APPLY TO THE EXTENT PROHIBITED BY APPLICABLE LAW.
  %p
    %strong
      General Representation and Warranty.
    You represent and warrant that (i) your use of the Service will be in strict accordance with the Omnipaste Privacy Policy, with this Agreement and with all applicable laws and regulations (including without limitation any local laws or regulations in your country, state, city, or other governmental area, regarding online conduct and acceptable content, and including all applicable laws regarding the transmission of technical data exported from the United States or the country in which you reside) and (ii) your use of the Service will not infringe or misappropriate the intellectual property rights of any third party.
  %p
    %strong
      Indemnification.
    You agree to indemnify and hold harmless Omnipaste, its contractors, and its licensors, and their respective directors, officers, employees and agents from and against any and all claims and expenses, including attorneys’ fees, arising out of your use of the Website, including but not limited to your violation of this Agreement.
  %p
    %strong
      Miscellaneous.
    This Agreement constitutes the entire agreement between you and Omnipaste concerning the subject matter hereof, and they may only be modified by a written amendment signed by an authorized executive of Omnipaste, or by the posting by Omnipaste of a revised version. Except to the extent applicable law, if any, provides otherwise, this Agreement, any access to or use of the Service will be governed by the laws of Romania. Except for claims for injunctive or equitable relief or claims regarding intellectual property rights (which may be brought in any competent court without the posting of a bond), any dispute under or related to this agreement, including with respect to the execution, performance or termination hereof, shall be settled by means of arbitration, by the Court of International Commercial Arbitration attached to the Chamber of Commerce and Industry of Romania, in compliance with the Rules of arbitration procedure of the Court of International Commercial Arbitration, in force, published in the Official Monitor of Romania, Part I. The arbitration shall take place in Bucharest, Romania, in the Romanian language and the arbitral decision may be enforced in any court. The prevailing party in any action or proceeding to enforce this Agreement shall be entitled to costs and attorneys’ fees. If any part of this Agreement is held invalid or unenforceable, that part will be construed to reflect the parties’ original intent, and the remaining portions will remain in full force and effect. A waiver by either party of any term or condition of this Agreement or any breach thereof, in any one instance, will not waive such term or condition or any subsequent breach thereof. You may assign your rights under this Agreement to any party that consents to, and agrees to be bound by, its terms and conditions; Omnipaste may assign its rights under this Agreement without condition. This Agreement will be binding upon and will inure to the benefit of the parties, their successors and permitted assigns.
  %p
    %strong
      Date of last update.
    This Agreement was last modified on October 30, 2013.

