.jumbotron
  .page-header
    %h1 Copy & Paste between your devices. Simple as Ctrl+C, Ctrl+V

  .text-left
    %p
      = @welcome
      Omnipaste is a clipboard manager in the cloud and works like your short-term memory.
      With our services you can transfer data between your devices running Windows&trade; operating system or Android&trade;
    .row
      .col-md-7
        .embed-container
          .movie-placeholder
            %iframe{allowfullscreen: '', frameborder: '0', mozallowfullscreen: '', src: 'http://player.vimeo.com/video/67749998', webkitallowfullscreen: '', id: 'demo_frame', class: 'inline' }
      .col-md-5
        %dl
          %dt
            .icon-android
            .icon-long-arrow-right
            .icon-windows
            Links 2 Browser
          %dd
            Copy a link from your smartphone and you'll have it in the clipboard ready to be pasted in the browser.
          %dt
            .icon-windows
            .icon-long-arrow-right
            .icon-android
            Phone 2 Call
          %dd
            Copy a phone number from the computer and tap your phone to call.
          %dt
            .icon-mobile-phone
            .icon-long-arrow-right
            .icon-file
            .icon-long-arrow-right
            .icon-laptop
            Transfer Files
          %dd
            Send files from a device to another in one step.
        .text-center
          = link_to 'Find out more', pricing_index_path, class: 'btn btn-lg btn-omni'