#intro.container-fluid
  .container
    .row.span12.center
      %h1 Copy & Paste between your devices.
      %h1 Simple as Ctrl+C, Ctrl+V
      = render_logon

= render_about

= render_team

= render_contact
