.jumbotron
  %h2 Copy & Paste between your devices.
  %h2 Simple as Ctrl+C, Ctrl+V
  = render_welcome
%hr/
.row-fluid.marketing
  .span6
    %h4 Well Connected
    %p You can connect all your devices and instantly synchronize your clipboard between them.

    %h4 Award Winning
    %p
      Omnipaste is a
      =link_to "Startup Weekend Cluj winner", 'http://cluj.startupweekend.org/2013/03/05/winning-teams-at-startup-weekend-cluj-2013/', target: '_blank'
  .span6
    %h4 Seamless Integration
    %p Omnipaste comes with a seamless integration with your operating systems. You will continue using Ctrl+C and Ctrl+V.

    %h4 Technical requirements
    %p Out initia version will require at least Windows XP and Android 2.2
