%h2
  Welcome #{current_user.name}
%p.lead
  After you donwload the apps if your need an authorization code use the button bellow to request one.
%p
  = link_to 'Get authorization code', '#', class: 'btn btn-lg btn-success'