%header
  %h1.section__title Get in touch with us
  %h2.section__subtitle We’ll be happy to hear your thoughts on our app.
= form_for Contact.new, remote: true, method: :post, html: { class: 'form js-contact-form', novalidate: '', spellcheck: 'false' } do |f|
  .form__content.js-contact-form-content
    .row
      .col-xs-12.col-md-4.col-md-offset-2
        .form__item
          %label.form__label Your name
          = f.text_field :name, placeholder: 'Your name', class: 'form__input', pattern: '.{3,}[A-z]', required: ''
          %span.form__message.form__valid Please enter your name
        .form__item
          %label.form__label Your e-mail
          = f.email_field :email, placeholder: 'Your e-mail', class: 'form__input', pattern: "[^@]+@[^@]+\\.[a-zA-Z]{2,6}", required: ''
          %span.form__message.form__valid The email you've entered is not valid
      .col-xs-12.col-md-4.align-left
        .form__item
          %label.form__label Your message
          = f.text_area :message, placeholder: 'Your message', class: 'form__textarea', pattern: '.{10,}', required: ''
          %span.form__message.form__valid Please enter a message
    .row
      .col-xs-12
        .form__footer
          %input{:name => "form_type", :type => "hidden", :value => "contact"}/
          %button.form__button.button.button--transparent.js-contact-submit{'data-unlock' => 'Unlock button first!', :type => 'submit'} Send message
  .form__notice.js-contact-notice Your message was sent :)
