%article#faq.section.section--bright.section--center-content.section--fit-viewport.faq
  .section__container
    .container
      .row
        %header.section__header.col-xs-12
          %h1.section__title FAQ
          %h2.section__subtitle Stuff that you might need to know about Omnipaste app.
      .row
        .section__column.col-xs-12.col-sm-6
          %h3.faq__title What can I do with Omni?
          %p.faq__content
            Easily and seamlessly transfer data between devices and cut down on that phone checking because you will get all your SMSs and calls right on your laptop or tablet.
        .section__column.col-xs-12.col-sm-6
          %h3.faq__title Will I be able to link my TV too?
          %p.faq__content
            Not yet, Smart TV's will be supported soon. You will be able to copy and paste your favorite show link
            or have that youtube video play on your smart TV by simply copying the link from you phone or laptop.
            Not to mention the useful notification will also show on the big screen.
      .row
        .section__column.col-xs-12.col-sm-6
          %h3.faq__title Why can I get Omni only for Android and Windows?
          %p.faq__content
            For now these are our only supported devices. More are to come. Follow us on
            = link_to 'twitter', 'https://twitter.com/omnipaste', { title: 'Twitter', target: '_blank' }
            or
            = link_to 'facebook', 'https://www.facebook.com/Omnipaste', { title: 'Facebook', target: '_blank' }
            for updates. Checkout the
            = link_to 'support forum', 'https://omnipasteapp.uservoice.com', { title: 'Support forum', target: '_blank' }
            and share some of your ideas with us.
        .section__column.col-xs-12.col-sm-6
          %h3.faq__title Is Omnipaste secure?
          %p.faq__content
            Yes, we take security very seriously. We use top of the class encryption algorithms and authentication methods used by industry giants like google and facebook.
      .section__button.section__button--page.align-center
        = link_to 'E-mail us your question', '#contact', { class: 'button button--transparent button--dark js-goto-section', title: 'E-mail us your question', data: { id: 'contact' } }
