%article#founders.section.section--center-content.founders
  .section__container
    .container
      .row
        .founders__left.col-xs-12.col-sm-6
          .founders__content
            .founders__picture
              %img{:alt => 'Alexandru Calinoiu', :height => '85', :src => image_path('common/profile-calin.png'), :width => '85'}
            .founders__contact
              %h3.founders__name Alex
              %span.founders__title Co-founder/developer
              %br
              = link_to '+40 745 857 479', custom_call_path(user_signed_in?, '+40745857479'), method: :post, class: 'founders__phone', data: { disable_with: 'Please wait ...', title: 'Call Calin' }
        .founders__right.col-xs-12.col-sm-6
          .founders__content
            .founders__picture
              %img{:alt => 'Adrian Nistor', :height => '85', :src => image_path('common/profile-adi.png'), :width => '85'}
            .founders__contact
              %h3.founders__name Adi
              %span.founders__title Co-founder/developer
              %br
              = link_to '+40 747 074 372', custom_call_path(user_signed_in?, '+40747074372'), method: :post, data: { class: 'founders__phone', disable_with: 'Please wait ...', title: 'Call Adi' }
