Well, hello there!
\
Thank you for being an early adopter of the alpha version of Omnipaste and we are grateful for your support. Now we have a new version which has tons of new features.
You can install it from the following link:
= root_url
\
The new features are smart clippings and notifications.
Smart clippings are when Omnipaste recognizes the contents of your clipboard and reacts to them; if it’s a street address, you tap to navigate, if it’s a phone number you tap to make the call.
Notifications appear on your PC when your phone rings or you get a message. You can reject the call, respond with a message, and more.
\
Features:
\
\- Copy paste from phone to computer
\
\- Copy paste from computer to phone
\
\- Attach smart actions to clippings: Phone number, address, hyperlink
\
\- View a history of clippings from all your devices
\
\- Get notifications for incoming SMS on the computer
\
\- Get notifications for incoming calls on the computer
\
\- Hang up an incoming call from the computer
\
\- Reply to an SMS/Incoming call with an SMS from the computer
\
\- Initiate a phone call from computer as a response to an incoming SMS/Call
\
\
So yeah, hope you like the new version :)
\
Cheers,
\
Omni Team
\
\
PS: You can contact me by replying to this email.