Well, hello there!
%p
  Thank you for being an early adopter of the alpha version of Omnipaste and we are grateful for your support. Now we have a new version which has tons of new features.
  You can install it from this
  = link_to 'link.', root_url
%p
  The new features are smart clippings and notifications.
  %br/
  Smart clippings are when Omnipaste recognizes the contents of your clipboard and reacts to them; if it’s a street address, you tap to navigate, if it’s a phone number you tap to make the call.
  %br/
  Notifications appear on your PC when your phone rings or you get a message. You can reject the call, respond with a message, and more.
%p
  Features:
%ul
  %li Copy paste from phone to computer
  %li Copy paste from computer to phone
  %li Attach smart actions to clippings: Phone number, address, hyperlink
  %li View a history of clippings from all your devices
  %li Get notifications for incoming SMS on the computer
  %li Get notifications for incoming calls on the computer
  %li Hang up an incoming call from the computer
  %li Reply to an SMS/Incoming call with an SMS from the computer
  %li Initiate a phone call from computer as a response to an incoming SMS/Call
%p
  So yeah, hope you like the new version :)
%p
  Cheers,
  Omni Team
%p
  %em
    PS: You can contact me by replying to this email.