Howdy,
%p
  We are glad to send this email to you. Use it to install Omnipaste on each of your devices.
%p
  For example, to install Omnipaste on your smartphone, open this email on your smartphone and click Install. If you have a tablet, go to your tablet and do the same thing. That's easy!
%p
  = link_to 'Window installer', url_for(controller: :downloads, action: 'windows_client', only_path: false)
%p
  = link_to 'Android Installer', url_for(controller: :downloads, action: 'android_client', only_path: false)
%p
  Take care,
  Omni Team
%p
%p
  PS: You can contact me by replying to this email