Welcome #{@user.name},
\
Glad to have you on board, we are giving preview versions of our application to some to selected users for now.
\
If you want to get in front of the queue describe to us the way you will use omnipaste.
The coolest descriptions will get access to the latest builds of Omnipaste and will get a feature request implemented in the next release.
\
Regards,
The omnipaste team
