Welcome #{@user.name},
= "\r\n"
Glad to have you on board, we are giving preview versions of our application to selected users for now.
= "\r\n"
If you want to get in front of the queue reply to this email with the way you will use omnipaste.
The coolest 11 descriptions will get access to the latest builds of Omnipaste and will get a feature request implemented in the next release.
= "\r\n"
Regards,
The omnipaste team
