Hi,
\
I'm Calin, co-founder and CTO of Omnipasteapp. Glad to have you on board!
\
You can download the free Windows and Android clients by following this link:
\
= Rails.configuration.action_mailer.default_url_options[:host]
\
Beware though, the applications are still a bit rough around the edges but bear with us, things will get better. Reply to this email with any suggestion/question/praise I will be reading every email.
\
Thank you, and don't hesitate to contact us if you have any questions.