Hi,
\
I'm Calin, co-founder and CTO of Omnipasteapp. Glad to have you on board!
\
You can download the free Windows and Android clients by following this link:
\
https://omnipasteapp.com/downloads
\
Beware though, the applications are still a bit rough around the edges but bear with us, things will get better. You can help us with this by anonymously answering a short questionnaire regarding the next features of Omnipaste.
\
<link>
\
Thank you, and don't hesitate to contact us if you have any questions.