Hi, I'm Calin, co-founder and CTO of Omnipasteapp.com. Glad to have you on board! We are now working hard to release the public version of our product as soon as possible.
\
If you want to be among the first to try our app, just reply by telling us how do you think Omnipaste can help you.
\
Best regards,
\
calin@omnipasteapp.com