%section#device-block.full-block.section.device-block.light-bg
  .slide
    .container
      .middle-wrap
        .middle-cell
          %header.title
            %h3 Please choose devices that you want to connect
          .device-wrap
            = image_tag 'click_to_select.png', alt: 'Click to select', id: 'device-help'
            %form{action: ""}
              %ul#device-list
                %li.device-laptop
                  %input#device-laptop{checked: 'checked', name: 'laptop', type: 'checkbox'}/
                  %label.inner{for: 'device-laptop'}
                    %span.device-graphic
                    %strong Laptop
                %li.device-phone
                  %input#device-phone{name: 'phone', type: 'checkbox'}/
                  %label.inner{for: 'device-phone'}
                    %span.device-graphic
                    %strong Phone
                %li.device-tablet
                  %input#device-tablet{name: 'tablet', type: 'checkbox'}/
                  %label.inner{for: 'device-tablet'}
                    %span.device-graphic
                    %strong Tablet
                %li.device-tv
                  %input#device-tv{name: 'tv', type: 'checkbox'}/
                  %label.inner{for: 'device-tv'}
                    %span.device-graphic
                    %strong TV
              .btn-wrap.center
                #device-disabled-wrap{'data-placement' => 'top', "data-toggle" => 'tooltip', title: 'Select two devices for a custom experience'}
                  %button#device-continue.btn.btn-info.toSlide{disabled: 'disabled', type: 'button'} Continue
  .slide.inside-slide{'data-anchor' => 'laptop-phone'}
    .container
      .row
        .col-md-12
          .anim-title
            %h2 Animation title
          .anim-wrap
            #Stage.EDGE-88305247
      .row
        .col-md-12
          .btn-wrap
            = link_to 'Replay', '#', class: 'btn btn-white btn-replay', data: { composition: 'comp' }
  .slide.inside-slide{'data-anchor' => 'laptop-tablet'}
    .container
      .row
        .col-md-12
          .anim-title
            %h2 Animation title
          .anim-wrap
            #Stage2.EDGE-88305242
      .row
        .col-md-12
          .btn-wrap
            = link_to 'Replay', '#', class: 'btn btn-white btn-replay', data: { composition: 'comp2' }
  .slide.inside-slide{'data-anchor' => 'phone-tablet'}
    .container
      .row
        .col-md-12
          .anim-title
            %h2 Animation title
          .anim-wrap
            #Stage3.EDGE-88305243
      .row
        .col-md-12
          .btn-wrap
            = link_to 'Replay', '#', class: 'btn btn-white btn-replay', data: { composition: 'comp3' }