%section#dual-block.full-block.section.dual-block
  .bg
  .container
    .t-wrap
      #download-app-wrap.t-cell
        %span.dual-sep or
        %h2 Download the app
        %p
          Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it
          is pain.
        %p
          But because occasionally circumstances occur in which toil and pain can procure him some great
          pleasure.
        %h5 We recommend to give it a try!
        %ul.download-list
          %li.d-mac
            %i.icon
          %li.d-win
            %i.icon
          %li.d-android
            %i.icon
          %li.d-linux
            %i.icon
        = link_to 'Download', '#', class: 'btn btn-primary'
      #leave-feedback-wrap.t-cell
        %h2 Leave your feedback
        %p
          On the other hand, we denounce with righteous are so
          beguiled and demoralized by the charms.
        .form-wrap
          %form{role: 'form'}
            .form-group
              %input.form-control{placeholder: 'Your name', type: 'text'}/
            .form-group
              %input.form-control{placeholder: 'Your email', type: 'email'}/
            .form-group
              %textarea.form-control{placeholder: 'Message...'}
            %button.btn.btn-info{type: 'submit'} Send message
