%section#dual-block.full-block.section.dual-block
  .bg
  .container
    .t-wrap
      #download-app-wrap.t-cell
        %span.dual-sep or
        %h2 Download the app
        %p
          We don't have a production version ready yet, we are working with a couple of early adopters
          to get this to you as soon as possible
        %p
          If you really want it and you are ready to use it in a it's current rough form, tell us in the feedback
          form here and we might give you access to our beta.
        %h5 Have a great day!
        %ul.download-list
          %li.d-mac
            %i.icon
          %li.d-win
            %i.icon
          %li.d-android
            %i.icon
          %li.d-linux
            %i.icon
        = link_to 'Download', user_omniauth_authorize_path(:google_oauth2), class: 'btn btn-primary'
      #leave-feedback-wrap.t-cell
        = render partial: 'contacts/create', locals: { contact: contact(@contact) }