%nav.navbar.navbar-default{role: 'navigation'}
  .navbar-header
    %button.navbar-toggle{'data-target' => '.navbar-ex1-collapse', 'data-toggle' => 'collapse', type: 'button'}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = link_to image_tag('logo-omnipaste.png'), root_path, class: 'navbar-brand'

  .collapse.navbar-collapse.navbar-ex1-collapse
    %ul.nav.nav-pills.navbar-right
      = render_cell :menu, :show, user: current_user