%header#header-bar.navbar.navbar-default.navbar-fixed-top{role: 'navigation'}
  .container
    %h1#logo
      = link_to 'WEBOMNI', root_url
    = button_tag class: 'menu-trigger on-mobile' do
      %span.icon-bar.icon-top
      %span.icon-bar.icon-mid
      %span.icon-bar.icon-bot
    %nav.main-nav
      = render partial: 'layouts/menu'
    .menu-overlay.on-mobile
      %nav
        = render partial: 'layouts/menu'
