%section#message-block.full-block.section.message-block
  .container
    .middle-wrap
      .middle-cell
        %div
          %h2
            Smart copy and paste
            %br/
            from your computer to your phone.

        = yield

        = link_to 'See how it works', '#', class: 'btn btn-primary go-to', data: { section: 'device-block' }
