%section#message-block.full-block.section.message-block
  .container
    .middle-wrap
      .middle-cell
        %div
          %h2
            Take control of
            %br/
            your multi-screen world
        = yield
    = link_to '#', class: 'see-more go-to', data: { section: 'device-block' } do
      See more
      %i.caret
