%ul
  %li
    = link_to 'Install', install_path(:login), data: {id: '#device-block'}
  %li
    = link_to 'Learn More', '#seemore', data: {id: '#device-block'}
  %li
    = link_to 'Contact', '#feedback', data: {id: '#dual-block'}
  %li
    = link_to 'Team', '#team', data: {id: '#about-block'}