.menu-overlay
  %nav
    %ul
      %li
        = link_to 'Home', '#home'
      %li
        = link_to 'Use cases', '#seemore'
      %li
        = link_to 'Leave your feedback', '#feedback'
      %li
        = link_to 'About us', '#team'