.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.brand.scroller{"data-section" => "html", :href => "#"} Omnipaste
      .nav-collapse.collapse
        %ul.nav.pull-right
          %li
            %a.scroller{"data-section" => "#about", :href => "#"} About
          %li
            %a.scroller{"data-section" => "#team", :href => "#"} The Team
          %li
            %a.scroller{"data-section" => "#contact", :href => "#"} Contact us
          = render_cell :menu, :show, user: current_user