:javascript
  Omnipaste=window.Omnipaste||[];(function(){var uv=document.createElement('script');
  uv.type='text/javascript';uv.async=true;uv.src='https://webstaging.omnipasteapp.com/sdk/55140aff63616c46f3000000.js';
  var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})();